<div class=" container-fluid text-primary" id="about_and_skills">
  <div id="about">
    <div><h2>About</h2></div>
    <div id="readme">
      <div>I'm a web developer with great passion for creating beautiful websites, using ruby on rails.</div>
      <div><h3 class="readmore">Read More</h3></div>
      <hr />
    </div>
  </div>
  <div id="skills">
    <div><h2>Skills</h2></div>
    <div id="skills_list">
      <div>
        <div><i class="fa-brands fa-html5 fa-4x"></i></div>
        <div>HTML</div>
      </div>
      <div>
        <div><i class="fa-brands fa-css3-alt fa-4x"></i></div>
        <div>CSS</div>
      </div>
      <div>
        <div><i class="fa-brands fa-bootstrap fa-4x"></i></div>
        <div>BOOTSTRAP</div>
      </div>
      <div>
        <div><i class="fa-brands fa-square-js fa-4x"></i></div>
        <div>JAVASCRIPT</div>
      </div>
      <div>
        <div class="ruby_logo"></div>
        <div>RUBY</div>
      </div>
      <div>
        <div class="rails_logo"></div>
        <div>RUBY ON RAILS</div>
      </div>
    </div>
  </div>
</div>