<div id="contact_and_links">
  <div class="contacts">
    <div><h2>CONTACT</h2></div>
    <div class="contact">
      <p>Feel free to contact me. I'd be delighted to hear from you.</p>
      <p id="email"><a href="mailto:ukwuomafortune01@gmail.com">ukwuomafortune01@gmail.com</a></p>
    </div>
  </div>
  <div class="links">
    <div><h2>LINKS</h2></div>
    <div class="account_links">
      <div>
        <a href="https://github.com/fortune48">
          <div><i class="fa-brands fa-github fa-4x"></i></div>
          <div>GitHub</div>
        </a>
      </div>
      <div>
        <a href="https://twitter.com/DonFortune01?t=wKop9Igr-5g35dskNiHIyQ&s=08">
          <div><i class="fa-brands fa-twitter fa-4x"></i></div>
          <div>Twitter</div>
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/ukwuoma-fortune-799384181/">
          <div><i class="fa-brands fa-linkedin fa-4x"></i></div>
          <div>LinkedIn</div>
        </a>
      </div>
      <div>
        <a href="https://fortuneblog.herokuapp.com/articles/3">
          <div><i class="fa-solid fa-blog fa-4x"></i></div>
          <div>Blog</div>
        </a>
      </div>
    </div>
  </div>
</div>