<div class="container-fluid p-5" id="portfolio">
  <h2 class="text-white text-center">PORTFOLIO</h2>
  <div class="text-white text-center" id="portfolios">
    <div class="apps">
      <div><h2>Booking-App</h2></div>
      <div class="booking_app_image"></div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>A hospital appointment booking app, where patients can book an appointment with date and time, to meet with a doctor.</P></div>
      <div class="live_or_source">
        <div class="live_source">
          <a href="https://aqueous-forest-91327.herokuapp.com" target="_blank">
            <div><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
            <div>LIVE</div>
          </a>
        </div>
        <div class="live_source">
          <a href="https://github.com/fortune48/booking_app" target="_blank">
            <div><i class="fa-brands fa-github"></i></div>
            <div>SOURCE</div>
          </a>
        </div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Comrades-App</h2></div>
      <div class="comrades_app_image"></div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>An advanced friends app, where users can create an account, create and document a list of thier friends with their social accounts.</P></div>
      <div class="live_or_source">
        <div class="live_source">
          <a href="https://comradesapp.herokuapp.com" target="_blank">
            <div><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
            <div>LIVE</div>
          </a>
        </div>
        <div class="live_source">
          <a href="https://github.com/fortune48/comrades" target="_blank">
            <div><i class="fa-brands fa-github"></i></div>
            <div>SOURCE</div>
          </a>
        </div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Blog-App</h2></div>
      <div class="blog_app_image"></div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>A simple blog app where users can create an article or add comments to an article.</P></div>
      <div class="live_or_source">
        <div class="live_source">
          <a href="https://fortuneblog.herokuapp.com/articles/3" target="_blank">
            <div><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
            <div>LIVE</div>
          </a>
        </div>
        <div class="live_source">
          <a href="https://github.com/fortune48/blog" target="_blank">
            <div><i class="fa-brands fa-github"></i></div>
            <div>SOURCE</div>
          </a>
        </div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Portfolio</h2></div>
      <div class="my_portfolio_image"></div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>My portfolio website with links to most of my personal projects and social accounts.</P></div>
      <div class="live_or_source">
        <div class="live_source">
          <a href="#" target="_blank">
            <div><i class="fa-solid fa-arrow-up-right-from-square"></i></div>
            <div>LIVE</div>
          </a>
        </div>
        <div class="live_source">
          <a href="https://github.com/fortune48/my_portfolio" target="_blank">
            <div><i class="fa-brands fa-github"></i></div>
            <div>SOURCE</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>