
<div class="card">
  <div class="card-body">
    <h1>Edit Comment</h1>

    <%= render "form", home: @home %>
    
    <br>
    
    <div>
      <%= link_to "Back", @home, class: 'btn btn-secondary' %> |
      <%= link_to "Back to home page", homes_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>