
  <div id="div_with_image">
    <div id="my_picture"></div>
    <div id="about_me">
      <div><p>Hi, I'm Fortune Ukwuoma, and I am a full-stack web developer</p></div>
      <div id="lets_talk">LET'S TALK</div>
    </div>
  </div>

  <svg class="wave-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgb(2, 97, 175)" fill-opacity="1" d="M0,256L80,224C160,192,320,128,480,128C640,128,800,192,960,208C1120,224,1280,192,1360,176L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
    </path>
  </svg>

  <%= render "about_and_skills" %>

  <svg class="wave-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgb(2, 97, 175)" fill-opacity="1" d="M0,192L80,213.3C160,235,320,277,480,266.7C640,256,800,192,960,181.3C1120,171,1280,213,1360,234.7L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>

  <%= render "homes/portfolio" %>

  <svg class="wave-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgb(2, 97, 175)" fill-opacity="1" d="M0,256L80,224C160,192,320,128,480,128C640,128,800,192,960,208C1120,224,1280,192,1360,176L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
    </path>
  </svg>


  <%= render "homes/contact_and_links" %>

  <svg class="wave-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgb(2, 97, 175)" fill-opacity="1" d="M0,192L80,213.3C160,235,320,277,480,266.7C640,256,800,192,960,181.3C1120,171,1280,213,1360,234.7L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>

  <div class="footer">
    <div><p>Made with <i class="fa-solid fa-heart text-danger"></i> and <i class="fa-solid fa-mug-saucer text-danger"></i> by Ukwuoma Fortunatus</p></div>
    <div><p>copyright <i class="fa-regular fa-copyright fa-sm"></i> 2022</p></div>
  </div>
