<div class="d-flex bg-primary" id="div_with_image">
  <div id="my_picture"></div>
  <div id="about_me">
    <p>Hi, I'm Fortune Ukwuoma, and I am a full-stack web developer</p>
    <div id="lets_talk">LET'S TALK</div>
  </div>
</div>
<div class="text-primary" id="about_and_skills">
  <div id="about">
    <h2>About</h2>
    <div id="readme">
      <div>I'm a web developer with great passion for creating beautiful websites, using ruby on rails.</div>
      <h3 class="readmore">Read More</h3>
      <hr />
    </div>
  </div>
  <div id="skills">
    <h2>Skills</h2>
    <div id="skills_list">
      <div>
        <div>picture</div>
        <div>HTML</div>
      </div>
      <div>
        <div>image</div>
        <div>CSS</div>
      </div>
      <div>
        <div>image</div>
        <div>BOOTSTRAP</div>
      </div>
      <div>
        <div>image</div>
        <div>JAVASCRIPT</div>
      </div>
      <div>
        <div>image</div>
        <div>REACT.JS</div>
      </div>
      <div>
        <div>image</div>
        <div>RUBY ON RAILS</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-5 bg-primary">
  <h2 class="text-white text-center">PORTFOLIO</h2>
  <div class="text-white text-center" id="portfolio">
    <div class="apps">
      <div><h2>Booking-App</h2></div>
      <div class="booking_app_image">image</div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>An advanced to-do list application with a number of extra features, including user customisation, statistics, and a points system.</P></div>
      <div class="live_or_source">
        <div class="live_source">LIVE</div>
        <div class="live_source">SOURCE</div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Comrades-App</h2></div>
      <div class="booking_app_image">image</div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>An advanced to-do list application with a number of extra features, including user customisation, statistics, and a points system.</P></div>
      <div class="live_or_source">
        <div class="live_source">LIVE</div>
        <div class="live_source">SOURCE</div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Blog-App</h2></div>
      <div class="booking_app_image">image</div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>An advanced to-do list application with a number of extra features, including user customisation, statistics, and a points system.</P></div>
      <div class="live_or_source">
        <div class="live_source">LIVE</div>
        <div class="live_source">SOURCE</div>
      </div>
    </div>
    <div class="apps">
      <div><h2>Portfolio</h2></div>
      <div class="booking_app_image">image</div>
      <div class="frame_works">
        <div class="frame_work">HTML5</div>
        <div class="frame_work">CSS</div>
        <div class="frame_work">BOOTSTRAP</div>
        <div class="frame_work">RUBY ON RAILS</div>
      </div>
      <div class="app_description"><P>An advanced to-do list application with a number of extra features, including user customisation, statistics, and a points system.</P></div>
      <div class="live_or_source">
        <div class="live_source">LIVE</div>
        <div class="live_source">SOURCE</div>
      </div>
    </div>
  </div>
</div>
<div id="contact_and_links">
  <div class="contacts">
    <div><h2>CONTACT</h2></div>
    <div class="contact">
      <p>Feel free to contact me. I'd be delighted to hear from you.</p>
      <p id="email">ukwuomafortune01@gmail.com</p>  
    </div>
  </div>
  <div class="links">
    <div><h2>LINKS</h2></div>
    <div class="account_links">
      <div>
        <div>logo</div>
        <div>GitHub</div>
      </div>
      <div>
        <div>logo</div>
        <div>Twitter</div>
      </div>
      <div>
        <div>logo</div>
        <div>LinkedIn</div>
      </div>
      <div>
        <div>logo</div>
        <div>Blog</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div><p>Made with love and cofee by Ukwuoma Fortunatus</p></div>
  <div><p>copyright c 2022</p></div>
</div>
