
<br />
<div class="card">
  <div class="card-body">
    <h2>Drop a comment</h2>

    <%= render "form", home: @home %>
    
    <br>
    
    <div>
      <%= link_to "Back", homes_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>